<h1> 1) Load Merged Dataset </h1>
Here we load the merged dataframe and continue to work on it.

In [1]:
import pandas as pd
import numpy as np
import datetime
df = pd.read_csv('database_moto_updated.csv')

In [2]:
# Translating the variables (from Dutch to English) and making it easier to work with
df.rename(columns = {'Adverteerder':'advertiser',
                    'Type motor' : 'type',
                    'Motorvermogen (kW)': 'power',
                    'Bouwjaar': 'construction_year',
                    'Aantal Cilinders':'cylinders',
                    'Kilometerstand':'km',
                    'Motorinhoud':'cc',
                    'Garantie' : 'warranty'}, inplace=True)

In [3]:
# handle exception
df = df[df['id'] != 'https://www.2dehands.be/m1812670567']

<h1> 2) Data Cleaning </h1>
In this section, we inspect variables individually and apply preprocessing techniques according to our needs.

<h2> 2.1) Detecting and Dealing with Missing Values </h2>
<p> Detecting and treating missing values is a key aspect in the project pipeline. There are quite numerous ways to treat missing values such as remove, replace(ex. imputation), and keep & codify. However, for this project it is decided to opt for the quick & dirty approach, namely remove the missing values. </p>

<p> Keep only rows where km, construction_year, power ,and type are not null and check the result. We see that we still have missing values for 'cc' and for 'cylinders'. In most case, the power of the motorcycle is  positively correlated with the cc and cylinders. It also turns out we won't need the variable cylinders in the next notebooks. </p>

In [4]:

# Using this code we are able to detect the quantity of NaN for each variable.
print(df.isnull().sum())


df = df[df["km"].notnull() & df["construction_year"].notnull()&
         df["type"].notnull()& df["power"].notnull()]
print('Our Pandas DataFrame has now a shape of ' + str(df.shape))
print(df.isnull().sum())

id                       0
price_eur                0
brand                    0
advertiser              14
viewed                   0
liked                    0
posted                   0
title                    0
description              0
extracted_on             0
location                 0
seller_name              0
images                   0
type                  4524
power                 6856
construction_year     4511
cylinders             5268
km                    5187
cc                    5018
warranty             12202
Kenteken             14119
Artikelnummer        14107
dtype: int64
Our Pandas DataFrame has now a shape of (6438, 22)
id                      0
price_eur               0
brand                   0
advertiser              0
viewed                  0
liked                   0
posted                  0
title                   0
description             0
extracted_on            0
location                0
seller_name             0
images                  0
type                    0
power                   0
construction_year       0
cylinders             658
km                      0
cc                    107
warranty             4851
Kenteken             6438
Artikelnummer        6438
dtype: int64

<h2> 2.3) Data Types </h2>
<p> In this subsection, we check the data type of the various extracted variables.
    Then, we divide the variables into the different data types and do some additional preprocessing.  </p>
    
<p> We notice that some variables do not have the expected data type (such as price_eur is an object instead of a numerical variable). This requires some data preprocessing. </p>

In [5]:
df.dtypes

id                    object
price_eur             object
brand                 object
advertiser            object
viewed                 int64
liked                  int64
posted                object
title                 object
description           object
extracted_on          object
location              object
seller_name           object
images                object
type                  object
power                 object
construction_year    float64
cylinders            float64
km                   float64
cc                   float64
warranty              object
Kenteken              object
Artikelnummer        float64
dtype: object

<h3> 2.3.1) Continuous variables </h3>
km, cc, views, saved, price.
<p> Change the data type of views and saved from float to integer. </p> 
<p> The price is given in eurocents, but it is easier to interpret it in euro. </p>

In [6]:
df['viewed'] = df['viewed'].astype('int')

In [7]:
df['liked'] = df['liked'].astype('int')

In [8]:
df = df.replace(['Gereserveerd','Notk','Bieden', 'Zie omschrijving', 'Ruilen','Op aanvraag','Gratis'], np.nan)

In [9]:
df.dropna(subset = ['price_eur'], inplace=True)

In [10]:
df['price_eur'] = df['price_eur'].astype('int')

<h3> 2.3.2) Categorical variables </h3>
adverteerder, type, brand, power, cylinders
<p> We explicitly define the following variables into category. After, some binary values are converted into 1 and 0. </p>

In [11]:
# These are category values
df["type"] = df["type"].astype('category')
df["brand"] = df["brand"].astype('category')
df["power"] = df["power"].astype('category')

In [12]:
# Encoding binary variables
df['advertiser_binary'] = df['advertiser'].apply(lambda i: 1 if i == "Particulier" else 0)

<h3> 2.3.3) Time dimensions </h3>
<p> construction_year, date, user active </p>
<p> The datetime objects were saved as strings, however it is preferable to have them as datetime objects. Therefore, we convert the strings into datetime. </p>

In [13]:
df['construction_year'] = df['construction_year'].apply(lambda i: datetime.date(int(i),1,1))
print(type(df['construction_year'].iloc[0]))

<class 'datetime.date'>

In [14]:
list_new_date = []
for j in range(0,len(df)):
    word = df['posted'].iloc[j]
    word = word.replace('jan.','January')
    word = word.replace('feb.','February')
    word = word.replace('mar.', 'March')
    word = word.replace('apr.', 'April')
    word = word.replace('mei.','May')
    word = word.replace('jun.', 'June')
    word = word.replace('jul.', 'July')
    word = word.replace('aug.', 'August')
    word = word.replace('sep.', 'September')
    word = word.replace('okt.', 'October')
    word = word.replace('nov.', 'November')
    word = word.replace('dec.', 'December')
    transformed  = word.replace('sinds ','')
    date = datetime.datetime.strptime(transformed, "%d %B '%y, %H:%S").strftime('%d/%m/%Y')
    list_new_date.append(date)

In [15]:
df['date_posted'] = list_new_date

<h3> 2.3.4) Unstructered Data (Text) </h3>
In our dataset we have two text variables:
<li> Title </li>
<li> Description </li>
<p> Both variables contain many unnecessary words, punctuations and so on. We will try to remove the most important things in this section. </p>

<h2> 2.4) Detecting Outliers </h2>
<p> It is necessary to treat outliers to avoid disproportional impact on results. Outliers can be either valid or invalid. In this case, the outliers are often caused by human error, and thus difficult to retrieve the true value. The individual placing the advertisement can make a mistake when introducing the values into the webpage. For example, the amount of kilometers for the given motorcycles could have an extra 0 or the user has put a 9 or 1 in front. Some users introduce the incorrect information on purpose, ex. 12345678. To treat each specific case requires an enormeous amount of effort, and the benefit is quite small. Therefore, it is decided to remove the outliers, and thus treat them as missing values.

In [16]:
df.describe().round(3)

,price_eur,viewed,liked,cylinders,km,cc,Kenteken,Artikelnummer,advertiser_binary
count,5.909000e+03,5909.000,5909.000,5285.000,5909.000,5809.000,0.0,0.0,5909.000
mean,6.939512e+05,626.682,8.598,2.339,27142.137,816.612,NaN,NaN,0.563
std,5.627057e+05,886.240,10.031,1.094,30873.273,449.744,NaN,NaN,0.496
min,0.000000e+00,0.000,0.000,1.000,0.000,4.000,NaN,NaN,0.000
25%,3.250000e+05,131.000,2.000,2.000,6500.000,583.000,NaN,NaN,0.000
50%,5.500000e+05,321.000,6.000,2.000,20000.000,800.000,NaN,NaN,1.000
75%,9.000000e+05,739.000,11.000,4.000,39220.000,1150.000,NaN,NaN,1.000
max,1.234560e+07,10404.000,97.000,4.000,999999.000,6540.000,NaN,NaN,1.000

In [17]:
impossible_km = df[df['km']>200000].index
df.drop(impossible_km,inplace=True)

impossbile_cc = df[df['cc'] > 2450].index
df.drop(impossbile_cc,inplace=True)

impossible_year = df[df['construction_year'] <  datetime.date(1960,1,1)].index
df.drop(impossible_year,inplace=True)

too_expensive = df[df['price_eur'] >= 1000000].index
df.drop(too_expensive,inplace=True)

In [18]:
new_motorcyle = df[df['km'] < 50].index
df.drop(new_motorcyle,inplace=True)

no_cc = df[df['cc'] < 45].index
df.drop(no_cc,inplace=True)

<h1> 3) Save the cleaned dataframe </h1>

In [19]:
pd.set_option('display.max_columns', None)
print(df.shape)
print(df.sample(7))

(4405, 24)
                                        id  price_eur     brand   advertiser  \
9607   https://www.2dehands.be/m1788917404     230000    Suzuki  Particulier
13506  https://www.2dehands.be/m1832994867     338500    Suzuki  Particulier
4203   https://www.2dehands.be/m1821361066     425000     Honda  Particulier
5024   https://www.2dehands.be/m1766645660     439900     Honda      Bedrijf
6631   https://www.2dehands.be/m1823306577     320000  Kawasaki  Particulier
6701   https://www.2dehands.be/m1735844130     620000  Kawasaki      Bedrijf
3902   https://www.2dehands.be/m1829188314     640000     Honda  Particulier

       viewed  liked                    posted  \
9607     1006      9  sinds 25 dec. '21, 13:44
13506     203      9  sinds 18 apr. '22, 19:43
4203     1091     11  sinds 17 mar. '22, 23:04
5024      854     10  sinds 29 okt. '21, 14:24
6631      346     12  sinds 23 mar. '22, 11:30
6701     1506     21   sinds 7 aug. '21, 15:35
3902      101      4   sinds 8 apr. '22, 10:32

                                               title  \
9607             Suzuki Gsxr 1100 1992 streetfighter
13506    Suzuki Gladius SFV650 + Tom Tom Urban Rider
4203   Moto Honda CB125R  - Quasi neuve - 385 km !!!
5024                                    Honda CB300R
6631                             Kawasaki ninja zx6r
6701                              Kawasaki ninja 650
3902                                   moto NCT 750x

                                             description extracted_on  \
9607   Suzuki gsxr 1100 1992 streetfighter, staat al ...   2022-04-13
13506  Suzuki Gladius SFV650Slechts 4.700kmWit/blauwA...   2022-04-20
4203   Je vends ma moto Honda CB125R achetée neuve en...   2022-04-12
5024   – Bouwjaar: 2019– Kilometerstand: 6440 km– Pri...   2022-04-12
6631   Deze mooie Kawasaki verkeerd nog in zeer goede...   2022-04-12
6701   Kawasaki ninja 650Zeer nette, goed onderhouden...   2022-04-12
3902   Honda NCT 750x. perfect onderhouden , als nieu...   2022-04-12

                            location            seller_name  \
9607                          Beerse                   bram
13506                     Deux-Acren             Shaggy_bay
4203   Vielsalm+Part D'Arbrefontaine                   Ania
5024                        Zaventem  Honda Mertens Brussel
6631                         Beveren     Benjamin Crikemans
6701                      Wuustwezel  Motorhandel Vermeeren
3902                         Kemzeke            Bosman Dany

                                                  images         type  \
9607   ['https//i.ebayimg.com/00/s/NzY4WDEwMjQ=/z/mkc...   Naked bike
13506  ['https//i.ebayimg.com/00/s/NzY4WDEwMjQ=/z/XxQ...   Naked bike
4203   ['https//i.ebayimg.com/00/s/MTAyNFg5Mzk=/z/nfI...   Naked bike
5024                                                  []   Naked bike
6631   ['https//i.ebayimg.com/00/s/NzY4WDEwMjQ=/z/xss...        Sport
6701   ['https//i.ebayimg.com/00/s/NzY4WDEwMjQ=/z/p7c...  Super Sport
3902   ['https//i.ebayimg.com/00/s/NzY4WDEwMjQ=/z/~fs...    Toermotor

                 power construction_year  cylinders       km      cc warranty  \
9607    meer dan 35 kW        1992-01-01        4.0  19000.0  1100.0      NaN
13506   meer dan 35 kW        2009-01-01        4.0   4738.0   645.0      NaN
4203   11 kW of minder        2021-01-01        1.0    385.0   125.0      NaN
5024      12 t/m 35 kW        2019-01-01        1.0   6440.0   300.0      NaN
6631    meer dan 35 kW        2002-01-01        4.0  34000.0   636.0      NaN
6701    meer dan 35 kW        2017-01-01        2.0   9000.0   650.0      NaN
3902    meer dan 35 kW        2019-01-01        2.0   6000.0   750.0      NaN

       Kenteken  Artikelnummer  advertiser_binary date_posted
9607        NaN            NaN                  1  25/12/2021
13506       NaN            NaN                  1  18/04/2022
4203        NaN            NaN                  1  17/03/2022
5024        NaN            NaN                  0  29/10/2021
6631        NaN            NaN                  1  23/03/2022
6701        NaN            NaN                  0  07/08/2021
3902        NaN            NaN                  1  08/04/2022

In [20]:
df.to_csv('cleaned_df.csv',index=False)